<nav class="flex items-center justify-between flex-wrap bg-white p-6 border-b-2 border-black">
    <div class="flex items-center flex-shrink-0 text-black mr-6">
        <a href="https://covidintheuk.com" class="flex text-black hover:text-purple-700">
            <img class="fill-current h-8 w-8 mr-2" src="/assets/img/virus.png">
            <span class="font-semibold text-xl tracking-tight">Covid In The UK</span>
        </a>
    </div>
    <div class="block">
        <div class="flex items-center">

            <button class="flex items-center px-3 py-2 text-black hover:text-purple-700">
                <a href="/about">
                <span class="font-semibold text-sm text-right">About</span>
                </a>
            </button>
            <a href="https://twitter.com/covidintheuk">
                <span>
                    <img class="fill-current h-8 w-8 mr-2 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110" src="/assets/img/twitter-black.svg">
                </span>
            </a>
        </div>        
    </div>
</nav>
